nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  height: 60px;
  background-color: #192636aa;
  color: #fff;
  align-items: center;
  margin-bottom: 0;
  top: 0;
  font-family: roboto;
}

body {
  overflow-x: hidden;
}
section > div {
  align-self: center;
}

section > div > p:nth-child(2) {
  font-weight: 100;
}
nav > div {
  margin-inline: 100px;
  margin-bottom: 0;
  margin-top: 0;
}
.image {
  width: 50px;
  height: 50px;
  border: 0.5px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.playL {
  background-color: #192636d5;

  width: 100%;
}
.song-play4 {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
}
.play-row > .material-icons {
  color: #fff;
  font-size: 24px;
}
.playlist {
  background-image: url(sound_img.jpg);
  background-repeat: no-repeat;
  top: 60px;
  background-size: cover;
  background-position: center;
  z-index: -1;
  width: 100%;
  background-color: #192636aa;
}

.nav-button {
  background-color: transparent;
}
button {
  background-color: transparent;
  color: #fff;
  border-color: none;
  border: 1px solid transparent;
}

.track {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.hideImage {
  display: none;
  background-image: none;
}
.song-play,
.song-play1,
.song-play2,
.song-play3,
.song-play4 {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}
.song-play p {
  font-family: Roboto;
}
#shuffle {
  color: #ffffff7d;
}

#audio-player-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  margin-top: 60px;
  gap: 10px;
  top: 100%;
}
.audio-player {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.playing {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 16px;
  margin-top: 0;
  margin-inline: 0;
  margin-top: 60px;
  justify-content: center;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(24, 37, 52, 0.575);
}
.play-row > button > .material-icons {
  font-size: 60px;
}
.play-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

audio {
  display: none;
}
.visible-s-track:nth-child(1) {
  margin-top: 60px;
}
.track > .material-icons {
  font-size: 30px;
}
.visible-s-track > button > .material-icons {
  font-size: 18px;
}
.visible-s-track {
  display: flex;
  justify-content: space-between;
  max-height: 900px;
  background-color: rgba(24, 37, 52, 0.575);
  padding: 10px;
  color: #fff;
  font-family: Roboto;
  align-items: center;
  border-color: transparent;
  border-bottom: 1px solid #192636aa;
  max-width: 700px;
}
.visible-s-track > section {
  padding: 0;
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  gap: 10px;
  flex-direction: row;
  text-overflow: ellipsis;
}
.visible-s-track > section > div {
  flex-direction: column;
}
.visible-s-track > section > div > p {
  margin: 0;
  text-overflow: ellipsis;
}
.song_image {
  background-image: url(sound_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.song_image1 {
  background-image: url(song_img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.song_image2 {
  background-image: url(song_img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.song_image3 {
  background-image: url(song_img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.song_image4 {
  background-image: url(song_img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
}
span {
  color: #fff;
  justify-self: center;
}
h4 {
  font-size: 16px;
  font-weight: normal;
}
@media only screen and (max-width: 768px) {
  nav > div {
    margin-inline: 0;
    padding-inline: 16px;
  }
  nav {
    height: 50px;
  }
  h4 {
    font-size: 18px;
  }
  #audio-player-container {
    flex-direction: column;
  }
}
