body {
  overflow-x: hidden;
}

.playlist {
  background-image: url(dancingFlameImg.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 0;
  background-color: #2d303e;
}
#audio-player-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin-top: 60px;
}
audio {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #2d303ee4;
  color: #ffffffee;
  align-items: center;
  top: 0;
  position: fixed;
}

.nav-button {
  background-color: transparent;
}
/* icons */
#rewind {
  color: #ffffffc4;
}
.material-icons {
  color: #fff;
}
header div .material-icons {
  margin-inline: 20px;
}
.nav-button .material-icons {
  font-size: 30px;
  color: #ffffffc4;
  display: flex;
  align-items: center;
}

#shuffle {
  color: #ffffff7d;
}
.track > .material-icons {
  font-size: 30px;
}
.play-row > button > .material-icons {
  font-size: 60px;
}

.play-row > .material-icons {
  color: #fff;
  font-size: 24px;
}

button {
  background-color: transparent;
  color: #fff;
  border-color: none;
  border: 1px solid transparent;
}

.track {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

/* Song info container */
section > div {
  align-self: center;
}

section > div > p:nth-child(2) {
  font-weight: 100;
}
.image {
  width: 60px;
  height: 60px;
  border: 0.5px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.audio-player {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Album image container */
.playing {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0px;
  margin-top: 0;
  margin-inline: 0;
  justify-content: center;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #2d303eb9;
}

.play-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  height: 30px;
  margin-bottom: 100px;
}
.hideImage {
  display: none;
  background-image: none;
}
.song-play {
  color: #ffffffdb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
  font-size: 16px;
  align-items: center;
}
.song-play p {
  font-family: Roboto;
}
.track-title {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.upper-text,
.lower-text {
  margin: 0;
}
.upper-text {
  padding-inline: 10px;
  font-size: 20px;
}
.lower-text {
  opacity: 0.5;
}

.visible-s-track > button > .material-icons {
  font-size: 20px;
  color: #ffffff55;
}
.visible-s-track {
  display: flex;
  justify-content: space-between;
  padding: 15px 24px;
  max-height: 900px;
  background-color: #2d303e;
  color: #fff;
  font-family: Roboto;
  align-items: center;
  border-color: transparent;
  border-bottom: 1px solid #27303baa;
  max-width: 700px;
}
.highlight-s-track {
  background-color: #2d303eb9;
}
.highlightAudioIcon {
  color: #fff !important;
}
.visible-s-track > section {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  gap: 10px;
  flex-direction: row;
  text-overflow: ellipsis;
}
.visible-s-track > section > div {
  flex-direction: column;
}
.visible-s-track > section > div > p {
  margin: 0;
  text-overflow: ellipsis !important;
}
.song_image {
  background-image: url(dancingFlameImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 350px;
}
.song_image1 {
  background-image: url(song_img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 350px;
}
.song_image2 {
  background-image: url(song_img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 350px;
}
.song_image3 {
  background-image: url(song_img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 350px;
}
.song_image4 {
  background-image: url(song_img4.jpg);
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 350px;
}
span {
  color: #fff;
  justify-self: center;
}
.switch-controls .material-icons {
  font-size: 60px;
  align-self: center;
}
.switch-controls .next {
  transform: rotate(180deg);
}

.switch-controls button .material-icons {
  font-size: 60px;
}
h4 {
  font-size: 20px;
  font-weight: normal;
  font-family: roboto;
}
@media only screen and (max-width: 768px) {
  nav > div {
    padding-inline: 16px;
  }
  nav {
    height: 50px;
  }
  h4 {
    font-size: 18px;
  }
  #audio-player-container {
    flex-direction: column;
  }
}
.time-line-container {
  align-items: center;
  display: flex;
  gap: 15px;
  width: 300px;
  justify-content: space-between;
}
.time-line-container .outer-time-line {
  display: flex !important;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-inline: 10px;
  content: "";

  background-color: #2d303e !important;
  height: 10px;
  width: 100%;
  border-radius: 5px;
}
#tracktime {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}
.time-line-container {
  padding: 0;
  margin-top: -32px;
}

.time-line-container .inner-time-line {
  display: flex !important;
  background-color: white !important;
  height: 10px;
  width: 18%;
  border-radius: 5px;
}
